<a href="https://colab.research.google.com/github/capitallatera/Case-Study/blob/master/Case_Study_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
ls

'case study 2.ipynb'  ' dataset investments.ipynb'   practice.csv
'Case Study.ipynb'     investments.csv               Questions.docx

In [0]:
import pandas as pd
import numpy as np

In [0]:
# Display all columns
df=pd.read_csv("practice.csv")
df.columns.shape[0]

11

In [0]:
# create numerical and categorical columns list
df_numerical=df.select_dtypes(include='number')
df_categorical=df.select_dtypes(exclude="number")

In [0]:
# display size of the data-frame
df.shape,df.size

((30, 11), 330)

In [0]:
# rename column MSSubClass -> SubClass, MSZoning -> Zones
df.rename(columns={"MSSubClass":"SubClass","MSZoning":"Zones"},inplace=True)

,SubClass,Zones,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No
1,20,RL,9600,Reg,FR2,Gtl,6,1976,0,TA,Gd
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn
3,70,RL,9550,IR1,Corner,Gtl,7,1915,0,TA,No
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av
5,50,RL,14115,IR1,Inside,Gtl,5,1993,0,TA,No
6,20,RL,10084,Reg,Inside,Gtl,8,2004,186,Gd,Av
7,60,RL,10382,IR1,Corner,Gtl,7,1973,240,TA,Mn
8,50,RM,6120,Reg,Inside,Gtl,7,1931,0,TA,No
9,190,RL,7420,Reg,Corner,Gtl,5,1939,0,TA,No
10,20,RL,11200,Reg,Inside,Gtl,5,1965,0,TA,No
11,60,RL,11924,IR1,Inside,Gtl,9,2005,286,Ex,No
12,20,RL,12968,IR2,Inside,Gtl,5,1962,0,TA,No
13,20,RL,10652,IR1,Inside,Gtl,7,2006,306,Gd,Av
14,20,RL,10920,IR1,Corner,Gtl,6,1960,212,TA,No
15,45,RM,6120,Reg,Corner,Gtl,7,1929,0,TA,No
16,20,RL,11241,IR1,CulDSac,Gtl,6,1970,180,TA,No
17,90,RL,10791,Reg,Inside,Gtl,4,1967,0,TA,NaN
18,20,RL,13695,Reg,Inside,Gtl,5,2004,0,TA,No
19,20,RL,7560,Reg,Inside,Gtl,5,1958,0,TA,No
20,60,RL,14215,IR1,Corner,Gtl,8,2005,380,Gd,Av
21,45,RM,7449,Reg,Inside,Gtl,7,1930,0,TA,No
22,20,RL,9742,Reg,Inside,Gtl,8,2002,281,Gd,No
23,120,RM,4224,Reg,Inside,Gtl,5,1976,0,TA,No
24,20,RL,8246,IR1,Inside,Gtl,5,1968,0,TA,Mn
25,20,RL,14230,Reg,Corner,Gtl,8,2007,640,Gd,No
26,20,RL,7200,Reg,Corner,Gtl,5,1951,0,TA,Mn
27,20,RL,11478,Reg,Inside,Gtl,8,2007,200,Gd,No
28,20,RL,16321,IR1,CulDSac,Gtl,5,1957,0,TA,Gd
29,30,RM,6324,IR1,Inside,Gtl,4,1927,0,TA,No

In [0]:
# display distinct values for Zoning, LotShape, LotConfig
print("Distinct Values of Zoning: ",df["Zones"].unique())
print("Distinct Values of LotShape: ",df["LotShape"].unique())
print("Distinct Values of LotConfig: ",df["LotConfig"].unique())

Distinct Values of Zoning:  ['RL' 'RM']
Distinct Values of LotShape:  ['Reg' 'IR1' 'IR2']
Distinct Values of LotConfig:  ['Inside' 'FR2' 'Corner' 'CulDSac']

In [0]:
# display count of distinct values for Zoning, LotShape, LotConfig
print(df.groupby(["Zones"])["SubClass"].count(),"\n")
print(df.groupby(["LotShape"])["SubClass"].count(),"\n")
print(df.groupby(["LotConfig"])["SubClass"].count())

Zones
RL    25
RM     5
Name: SubClass, dtype: int64

LotShape
IR1    13
IR2     1
Reg    16
Name: SubClass, dtype: int64

LotConfig
Corner      8
CulDSac     2
FR2         2
Inside     18
Name: SubClass, dtype: int64

In [0]:
# max, min of column YearBuilt
print("Max: ",df["YearBuilt"].max())
print("Min: ",df["YearBuilt"].min())

Max:  2007
Min:  1915

In [0]:
# create a new column “year_diff’. This will be holding difference of current year and YearBuilt

df["year_diff"]=df["YearBuilt"].map(lambda x: np.datetime64('today',"Y")-x)

In [0]:
# display distinct MSZoning for each OverallQual
df.groupby("OverallQual")["Zones"].unique()

OverallQual
4    [RL, RM]
5    [RL, RM]
6        [RL]
7    [RL, RM]
8        [RL]
9        [RL]
Name: Zones, dtype: object

In [0]:
# what is maximum LotArea where  BsmtExposure = Mn?
df["LotArea"].where(df["BsmtExposure"]=="Mn").max()

11250.0

In [0]:
# Sort dataframe based on following columns and orders: MSSubClass; ascending, YearBuilt; descending
df.sort_values("SubClass",ascending=True).sort_values("YearBuilt",ascending=False)[["SubClass","YearBuilt"]].head(5)

    SubClass  YearBuilt
27        20       2007
25        20       2007
13        20       2006
20        60       2005
11        60       2005

In [0]:
# What is average OverallQual.
df["OverallQual"].mean()

6.3

In [0]:
# Group by YearBuilt and find maximum OverallQual
df.groupby(["YearBuilt"])[["OverallQual"]].max()

           OverallQual
YearBuilt
1915                 7
1927                 4
1929                 7
1930                 7
1931                 7
1939                 5
1951                 5
1957                 5
1958                 5
1960                 6
1962                 5
1965                 5
1967                 4
1968                 5
1970                 6
1973                 7
1976                 6
1993                 5
2000                 8
2001                 7
2002                 8
2003                 7
2004                 8
2005                 9
2006                 7
2007                 8

In [0]:
# Load the data_1.csv again with MSSubClass as new index
df_1=pd.read_csv("practice.csv")
df_1["MSSubClass"].head(5)

0    60
1    20
2    60
3    70
4    60
Name: MSSubClass, dtype: int64

In [0]:
# Convert LotArea as numpy array
df["LotArea"]=np.asarray(df["LotArea"])

In [0]:
# In column MasVnrArea replace 0 with -1
df["MasVnrArea"]=df["MasVnrArea"].replace(0,-1)

In [0]:
# Check if there is/are any Null values (NaN) in the data given
df.isna().sum()
df[df["BsmtExposure"].isna()]

,SubClass,Zones,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure,year_diff
17,90,RL,10791,Reg,Inside,Gtl,4,1967,-1,TA,NaN,0053

In [0]:
# Display percentage of missing values in each column if any
(df.isna().sum()/df.shape[0])*100

SubClass        0.000000
Zones           0.000000
LotArea         0.000000
LotShape        0.000000
LotConfig       0.000000
LandSlope       0.000000
OverallQual     0.000000
YearBuilt       0.000000
MasVnrArea      0.000000
ExterQual       0.000000
BsmtExposure    3.333333
year_diff       0.000000
dtype: float64

In [0]:
# Select records where LotConfig is Inside
df[df["LotConfig"]=="Inside"].head(5)

,SubClass,Zones,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure,year_diff
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No,0017
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn,0019
5,50,RL,14115,IR1,Inside,Gtl,5,1993,-1,TA,No,0027
6,20,RL,10084,Reg,Inside,Gtl,8,2004,186,Gd,Av,0016
8,50,RM,6120,Reg,Inside,Gtl,7,1931,-1,TA,No,0089

In [0]:
# Make a new dataframe with only numeric columns
df.select_dtypes(include='number')

    SubClass  LotArea  OverallQual  YearBuilt  MasVnrArea
0         60     8450            7       2003         196
1         20     9600            6       1976          -1
2         60    11250            7       2001         162
3         70     9550            7       1915          -1
4         60    14260            8       2000         350
5         50    14115            5       1993          -1
6         20    10084            8       2004         186
7         60    10382            7       1973         240
8         50     6120            7       1931          -1
9        190     7420            5       1939          -1
10        20    11200            5       1965          -1
11        60    11924            9       2005         286
12        20    12968            5       1962          -1
13        20    10652            7       2006         306
14        20    10920            6       1960         212
15        45     6120            7       1929          -1
16        20    11241            6       1970         180
17        90    10791            4       1967          -1
18        20    13695            5       2004          -1
19        20     7560            5       1958          -1
20        60    14215            8       2005         380
21        45     7449            7       1930          -1
22        20     9742            8       2002         281
23       120     4224            5       1976          -1
24        20     8246            5       1968          -1
25        20    14230            8       2007         640
26        20     7200            5       1951          -1
27        20    11478            8       2007         200
28        20    16321            5       1957          -1
29        30     6324            4       1927          -1

In [0]:
# Make a new dataframe with only factorial/string columns
df.select_dtypes(exclude="number")

   Zones LotShape LotConfig LandSlope ExterQual BsmtExposure year_diff
0     RL      Reg    Inside       Gtl        Gd           No      0017
1     RL      Reg       FR2       Gtl        TA           Gd      0044
2     RL      IR1    Inside       Gtl        Gd           Mn      0019
3     RL      IR1    Corner       Gtl        TA           No      0105
4     RL      IR1       FR2       Gtl        Gd           Av      0020
5     RL      IR1    Inside       Gtl        TA           No      0027
6     RL      Reg    Inside       Gtl        Gd           Av      0016
7     RL      IR1    Corner       Gtl        TA           Mn      0047
8     RM      Reg    Inside       Gtl        TA           No      0089
9     RL      Reg    Corner       Gtl        TA           No      0081
10    RL      Reg    Inside       Gtl        TA           No      0055
11    RL      IR1    Inside       Gtl        Ex           No      0015
12    RL      IR2    Inside       Gtl        TA           No      0058
13    RL      IR1    Inside       Gtl        Gd           Av      0014
14    RL      IR1    Corner       Gtl        TA           No      0060
15    RM      Reg    Corner       Gtl        TA           No      0091
16    RL      IR1   CulDSac       Gtl        TA           No      0050
17    RL      Reg    Inside       Gtl        TA          NaN      0053
18    RL      Reg    Inside       Gtl        TA           No      0016
19    RL      Reg    Inside       Gtl        TA           No      0062
20    RL      IR1    Corner       Gtl        Gd           Av      0015
21    RM      Reg    Inside       Gtl        TA           No      0090
22    RL      Reg    Inside       Gtl        Gd           No      0018
23    RM      Reg    Inside       Gtl        TA           No      0044
24    RL      IR1    Inside       Gtl        TA           Mn      0052
25    RL      Reg    Corner       Gtl        Gd           No      0013
26    RL      Reg    Corner       Gtl        TA           Mn      0069
27    RL      Reg    Inside       Gtl        Gd           No      0013
28    RL      IR1   CulDSac       Gtl        TA           Gd      0063
29    RM      IR1    Inside       Gtl        TA           No      0093

In [0]:
# Drop column ExterQual
df.drop("ExterQual",axis=1)

,SubClass,Zones,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,BsmtExposure,year_diff
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,No,0017
1,20,RL,9600,Reg,FR2,Gtl,6,1976,-1,Gd,0044
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Mn,0019
3,70,RL,9550,IR1,Corner,Gtl,7,1915,-1,No,0105
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Av,0020
5,50,RL,14115,IR1,Inside,Gtl,5,1993,-1,No,0027
6,20,RL,10084,Reg,Inside,Gtl,8,2004,186,Av,0016
7,60,RL,10382,IR1,Corner,Gtl,7,1973,240,Mn,0047
8,50,RM,6120,Reg,Inside,Gtl,7,1931,-1,No,0089
9,190,RL,7420,Reg,Corner,Gtl,5,1939,-1,No,0081
10,20,RL,11200,Reg,Inside,Gtl,5,1965,-1,No,0055
11,60,RL,11924,IR1,Inside,Gtl,9,2005,286,No,0015
12,20,RL,12968,IR2,Inside,Gtl,5,1962,-1,No,0058
13,20,RL,10652,IR1,Inside,Gtl,7,2006,306,Av,0014
14,20,RL,10920,IR1,Corner,Gtl,6,1960,212,No,0060
15,45,RM,6120,Reg,Corner,Gtl,7,1929,-1,No,0091
16,20,RL,11241,IR1,CulDSac,Gtl,6,1970,180,No,0050
17,90,RL,10791,Reg,Inside,Gtl,4,1967,-1,NaN,0053
18,20,RL,13695,Reg,Inside,Gtl,5,2004,-1,No,0016
19,20,RL,7560,Reg,Inside,Gtl,5,1958,-1,No,0062
20,60,RL,14215,IR1,Corner,Gtl,8,2005,380,Av,0015
21,45,RM,7449,Reg,Inside,Gtl,7,1930,-1,No,0090
22,20,RL,9742,Reg,Inside,Gtl,8,2002,281,No,0018
23,120,RM,4224,Reg,Inside,Gtl,5,1976,-1,No,0044
24,20,RL,8246,IR1,Inside,Gtl,5,1968,-1,Mn,0052
25,20,RL,14230,Reg,Corner,Gtl,8,2007,640,No,0013
26,20,RL,7200,Reg,Corner,Gtl,5,1951,-1,Mn,0069
27,20,RL,11478,Reg,Inside,Gtl,8,2007,200,No,0013
28,20,RL,16321,IR1,CulDSac,Gtl,5,1957,-1,Gd,0063
29,30,RM,6324,IR1,Inside,Gtl,4,1927,-1,No,0093

In [0]:
# Group data on LotShape and find average LotArea
df.groupby(["LotShape"])["LotArea"].mean()

LotShape
IR1    11492.307692
IR2    12968.000000
Reg     9085.187500
Name: LotArea, dtype: float64